// CLASE OBLIGATORIA PARA EL GRID
// .grid {
//   display: grid;
//   grid-gap: 15px;
//   grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
//   grid-auto-rows: 200px;
// }

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

/*ESTILOS DE PERSONALIZACION NO-GRID*/
.header {
  width: 100%;
  height: 60px;
  background-color: $greek-blue-6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__title {
    color: $white;
  }
}

.pin {
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}


.content{
  // // background-color: plum;
  /*Es necesaroi en el content fijar un height de 100% para que abarque todo el largo y los gaps no se vean tan grandes, es un truco visual*/
  // width: auto;
  // height: 100%;
  // border: 1px solid gainsboro;
  // border-radius: 10px;
  // overflow: hidden;
}

.content p{
  padding: 1em;
}
